## Get started

In [18]:
print("Hello World!")

Hello World!

## Data types

In [19]:
# integer: ...,-1,0,1,...
i = 10
print(type(i))

<class 'int'>

In [20]:
# float: -1.2, 3.4, 6.85, ...
f = -2.1
print(type(f))

<class 'float'>

In [21]:
# complex: a + bj
c = 2 + 8j
print(type(c))

<class 'complex'>

In [22]:
# string: 'text', "text", '''text'''
s = "text"
print(type(s))

<class 'str'>

In [23]:
# boolian: True - False
b = True
print(type(b))

<class 'bool'>

In [30]:
# input always get a string
number = input("enter a number")
print(type(number))

<class 'str'>

In [38]:
# converting a string to an integer
x = "10"
y = int(x)
print(x ,"type x1: ",type(x))
print(y, "type x2: ",type(y))

10 type x1:  <class 'str'>
10 type x2:  <class 'int'>

In [41]:
# converting an integer to a string
x = 10
y = str(x)
print(x ,"type x: ",type(x))
print(y, "type y: ",type(y))

10 type x:  <class 'int'>
10 type y:  <class 'str'>

In [42]:
# converting an integer to a float
x = 1
y = float(x)
print(x ,"type x: ",type(x))
print(y, "type y: ",type(y))

1 type x:  <class 'int'>
1.0 type y:  <class 'float'>

In [43]:
# converting a float to an integer
x = 1.3
y = int(x)
print(x ,"type x: ",type(x))
print(y, "type y: ",type(y))

1.3 type x:  <class 'float'>
1 type y:  <class 'int'>

## strings

In [24]:
# ' in "" or \" in ""
print("I'm Jack")
print("I'm \"Jack\"")

I'm Jack

In [26]:
# printing in multiple lines 
print('''name: Jack
lastname: Anderson''')

name: Jack
lastname: Anderson

In [24]:
# \n: next line \t: a tab
print("next line: \nname:Jack")
print("a tab: \tname:Jack")

next line:
name:Jack
a tab: 	name:Jack

In [28]:
# f string method
name = "Jack"
lastname = "Anderson"
print(f"name: {name} \nlastname: {lastname}")

name: Jack
lastname: Anderson

In [45]:
# combining two strings
name = "Jack"
lastname = "Anderson"
fullname = name + " " + lastname
print(fullname)

Jack Anderson

In [26]:
# chaning a string to upper or lower case
name = "Jack"
print("making upper:", name.upper())
print("making lower:",name.lower())

make upper: JACK
make lower: jack

In [11]:
# counting a character or string in a string
name = "Jack Jackson"
print(name.count('s'))
print(name.count('Jack'))

1
2

In [9]:
# finding a character or string in a string
name = "Jack Locman"
print(name.find('c'))
print(name.find('c',4))

2
7

In [5]:
# finding the number a character string in a string
name = "Jack"
print(len(name))

4

In [7]:
# Slicing Strings
fullname = "Jack Anderson"
print(fullname[0])
print(fullname[0:3])
print(fullname[0])
print(fullname[len(fullname)-1])

J
Jac
J
n

In [13]:
# String Method in & not in
fullname = "Jack Anderson"
print("a" in fullname)
print("Jack" not in fullname)

True
False

## Python Operators

In [71]:
# Python Arithmetic Operators
print("2 + 3 =", 2 + 3)
print("2 - 3 =", 2 - 3)
print("2 * 3 =", 2 * 3)
print("2 * 3 =", 2 * 3)
print("3 / 2 =", 3 / 2)
print("3 // 2 =", 3 // 2)
print("3 % 2 =", 3 % 2)
print("2 ** 3 =", 2 ** 3)

2 + 3 = 5
2 - 3 = -1
2 * 3 = 6
2 * 3 = 6
3 / 2 = 1.5
3 // 2 = 1
3 % 2 = 1
2 ** 3 = 8

In [72]:
# Python Comparison Operators
print("2 = 3:", 2 == 3)
print("2 != 3:", 2 != 3)
print("2 > 3:", 2 > 3)
print("2 < 3:", 2 < 3)
print("2 >= 3:", 2 >= 3)
print("2 <= 3:", 2 <= 3)

2 = 3: False
2 != 3: True
2 > 3: False
2 < 3: True
2 >= 3: False
2 <= 3: True

In [19]:
# Python Assignment Operators
a , b , c , d , e , f = 10, 11, 12, 13, 14, 15
a += 1 
b -= 1
c *= 2
d /= 2
e //= 3
f %= 2
print("a + 1 =", a)
print("b - 1 =", b)
print("c * 2 =", c)
print("d / 2 =", d)
print("e // 3 =", e)
print("f % 2 =", f)

a + 1 = 11
b - 1 = 10
c * 2 = 24
d / 2 = 6.5
e // 3 = 4
f % 2 = 1

## lists

In [11]:
# list and List Length
mylist = ["apple", "banana", "cherry"]
print(mylist)
print("number of items:",len(mylist))

['apple', 'banana', 'cherry']
number of items: 3

In [10]:
# Access List Items
mylist = ["apple", "lemon", "cherry", "banana"]
print("items of the list:",mylist[:])
print("first item:",mylist[0])
print("last item:",mylist[-1])
print("items in range of 1st to 3rd:",mylist[0:3])
print("items in range of 2st to end:",mylist[1:])
print("items in range of first to 3rd:",mylist[:3])

items of the list: ['apple', 'lemon', 'cherry', 'banana']
first item: apple
last item: banana
items in range of 1st to 3rd: ['apple', 'lemon', 'cherry']
items in range of 2st to end: ['lemon', 'cherry', 'banana']
items in range of first to 3rd: ['apple', 'lemon', 'cherry']

In [12]:
# Access List Items
mylist = ["David", "James", "Donald"]
print("first letter of the second name:",mylist[1][0])

first letter of the second name: J

In [14]:
# Access List Items
mylist = [[1,2,3],["David", "James", "Donald"]]
print("third item of the second list:",mylist[1][2])

third item of the second list: Donald

In [15]:
list1 = [1,"apple",True]
list2 = [3+4j, "Donald"]
print("combind list:",list1 + list2)

combind list: [1, 'apple', True, (3+4j), 'Donald']